@model LoginDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="stylesheet" href="~/Login/index.css">
    <title>Giriş Yap</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="post" asp-action="GirisYap">
                    <h2>Giriş Yap</h2>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" asp-for="TC" required maxlength="11">
                        <label for="">TC Kimlik No</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" asp-for="Sifre" required>
                        <label for="">Şifre</label>
                    </div>
                    <button>Giriş Yap</button>

                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger" style="text-align:center">@ViewBag.Message</div>
                    }

                    <div class="register">
                        <p>Hesabın yok mu? <a href="/Auth/KayitOl">Kayıt Ol</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
