@model Doktor

@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="title">
    <i class="uil uil-user"></i>
    <span class="text">Profil Bilgileri</span>
</div>
<form method="post" id="profilForm">
    <div class="form-container">
        <h2>Profilinizi Düzenleyin</h2>
        <br />
        <div class="inputbox">
            <label for="TC">TC</label>
            <input type="text" asp-for="TC" class="form-control" required readonly />
        </div>
        <br />
        <div class="inputbox">
            <label for="Isim">İsim Soyisim</label>
            <input type="text" asp-for="Isim" class="form-control" required />
        </div>
        <br />
        <div class="inputbox">
            <label for="Uzmanlik">Uzmanlık</label>
            <input type="text" asp-for="Uzmanlik" class="form-control" required readonly />
        </div>
        <br />
        <div class="inputbox">
            <label for="Sifre">Şifre</label>
            <input type="text" asp-for="Sifre" class="form-control" required />
        </div>
        <br />
        <br />
        <input type="hidden" asp-for="Id" class="form-control" required readonly />
        <button type="submit" class="btn btn-primary">Bilgileri Güncelle</button>
    </div>
</form>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#profilForm").on("submit", function (e) {
                e.preventDefault(); // Formun normal submit işlemini engelle

                var formData = $(this).serialize(); // Formdaki verileri al

                $.ajax({
                    url: '@Url.Action("ProfilGuncelle", "Doktor")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        alert(response);
                        location.reload(); // Sayfayı yenile
                    },
                    error: function (xhr, status, error) {
                        alert("Profil güncellenirken hata oluştu: " + xhr.responseText);
                    }
                });
            });
        });
    </script>
}