@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Sidebar/style.css">
    <a href="~/lib/bootstrap/dist/css/bootstrap.css.map">~/lib/bootstrap/dist/css/bootstrap.css.map</a>
    <a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map">~/lib/bootstrap/dist/css/bootstrap.min.css.map</a>
    <a href="~/lib/bootstrap/dist/css/bootstrap.rtl.css.map">~/lib/bootstrap/dist/css/bootstrap.rtl.css.map</a>
    <a href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map">~/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map</a>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Deniz Hospital</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <span class="logo_name">
                Deniz Hospital
                @if (User.IsInRole("Hasta"))
                {
                    <span>Hasta</span>
                }
                @if (User.IsInRole("Doktor"))
                {
                    <span>Doktor</span>
                }
            </span>

        </div>

        <div class="menu-items">
            <ul class="nav-links">
                @if (User.IsInRole("Hasta"))
                {
                    <li>
                        <a href="/Hasta/Profil">
                            <i class="uil uil-user-circle"></i>
                            <span class="link-name">Profilim</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Hasta/Recetelerim">
                            <i class="uil uil-file-medical-alt"></i>
                            <span class="link-name">Reçetelerim</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Hasta/Randevularim">
                            <i class="uil uil-schedule"></i>
                            <span class="link-name">Randevularım</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Hasta/RandevuAl">
                            <i class="uil uil-clock"></i>
                            <span class="link-name">Randevu Al</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Hasta/Doktorlar">
                            <i class="uil uil-stethoscope"></i>
                            <span class="link-name">Doktorlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Hasta/Poliklinikler">
                            <i class="uil uil-hospital"></i>
                            <span class="link-name">Poliklinikler</span>
                        </a>
                    </li>
                }

                @if (User.IsInRole("Doktor"))
                {
                    <li>
                        <a href="/Doktor/Profil">
                            <i class="uil uil-user-md"></i>
                            <span class="link-name">Profilim</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Doktor/Randevularim">
                            <i class="uil uil-calendar-alt"></i>
                            <span class="link-name">Randevularım</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Doktor/Poliklinikler">
                            <i class="uil uil-hospital"></i>
                            <span class="link-name">Poliklinikler</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Doktor/Hastalar">
                            <i class="uil uil-user"></i>
                            <span class="link-name">Hastalar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Doktor/Recetelerim">
                            <i class="uil uil-file-medical"></i>
                            <span class="link-name">Reçetelerim</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Doktor/ReceteOlustur">
                            <i class="uil uil-prescription-bottle"></i>
                            <span class="link-name">Reçete Yaz</span>
                        </a>
                    </li>
                }               
            </ul>

            <ul class="logout-mode">
                <li>
                    <a asp-controller="Auth" asp-action="CikisYap" asp-area="">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Çıkış Yap</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Görsel Mod</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
        </div>

        <div class="dash-content">
            @*  <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">Total Likes</span>
                        <span class="number">50,120</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="text">Comments</span>
                        <span class="number">20,120</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Total Share</span>
                        <span class="number">10,120</span>
                    </div>
                </div>
            </div> *@
            <div class="activity">
                @RenderBody()
            </div>
        </div>
    </section>
    <script src="~/Sidebar/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html> 